.admin-profile-container{
  height: 90vh;
  text-align: center;
}
.login-form-container{
  max-width: 500px;
}

.login-form{
  background-color: #c4fff8;
  border-radius: 1rem;
  box-shadow: 4px 6px 5px 1px rgba(230,230,230,0.75);
-webkit-box-shadow: 4px 6px 5px 1px rgba(230,230,230,0.75);
-moz-box-shadow: 4px 6px 5px 1px rgba(230,230,230,0.75);
  padding: 3rem 5rem;
  height: 400px;

  .logo{
    background-color: #277a86;
    width: 150px;
    height: 150px;
    border-radius: 50%
  }

} 

.g-button{
    border: 1px solid rgb(66, 133, 244);
    margin: 10px 0;
    background: rgb(66, 133, 244);
    box-shadow: 2px 2px 4px 1px rgb(165, 199, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    /* max-width: 300px; */
    
  
  .g-logo{
    width: 21px;
    height: 21px;
    padding: 8px 10px;
    background: white;
    object-fit: contain;
    border-radius: .2rem;
  }
  
  .g-text{
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
    color: white;
    font-family: roboto;
    text-align: center;
  }

}